/* start global */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --main-color:#10cab7;
    --scond-color:#2c4755;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* end global */
/* start container  */
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; 
}
/* small  */
@media(min-width:767px){
    .container{
        width: 750px;
    }
}
/* mediuam */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large  */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end container  */

/* start head  */
.head {
    padding: 60px;
    margin-bottom: 50px;
}
@media(max-width:767px){
    .head {
        padding: 30px;
        margin-bottom: 20px;
    }
}
    .head h1{
        text-align: center;
        font-size: 100px;
        font-weight: 800;
        color: rgb(235, 236, 237);
        letter-spacing: -3px;
    }
    @media(max-width:767px){
        .head h1{
            font-size: 72px;
        }
    }
    .head p{
        text-align: center;
        color: rgb(121, 121, 121);
        font-size: 20px;    
        margin-top: -40px;
    }
    @media(max-width:767px){
        .head p{
            font-size: 16px;
        }
    }
    /* end head  */

/* start header  */
nav{
    padding: 20px;
    background-color: #fff;
    position: relative;
    z-index: 3;
}

nav .container{
    display:flex;
    justify-content: space-between;
}

nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav .logo img{
    width: 80px;
}

nav .lists{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
nav .lists:hover .list{
    display: block;
}
nav .lists:hover .bars span:nth-child(2){
    width: 100%;
}

nav .lists .bars {
    width: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    cursor: pointer;
}

nav .lists .bars span{
    height: 2px;
    background-color: #333;
    margin-top: 4px;
    transition: .3s;
}

nav .lists .bars span:first-child,
nav .lists .bars span:last-child{
    width: 100%;
}
nav .lists .bars span:nth-child(2){
    width: 50%;
}
nav .lists .bars:hover span:nth-child(2){
    width: 100%;
}

nav .lists .list{
    background-color: #f6f6f6;
    width: 200px;
    padding: 10px 0;
    position: absolute;
    top:calc(100% + 15px);
    border-radius: 10px;
    display: none;
    z-index: 3;
}
@media(max-width:767px){
    nav .lists{
        position: static;
    }
    nav .lists .list{
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        top: 72px;
    }
    }

nav .lists .list::before{
    content: "";
    position: absolute;
    top: -30px;
    right: 6px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent #f6f6f6 transparent;
}
@media(max-width:767px){
    nav .lists .list::before{
        right: 38px;
    }
}
nav .lists .list li{
    border-bottom: 2px solid #ddd;
    transition: .3s;
}
@media(max-width:767px){
    nav .lists .list li{
        margin: 10px 0;
    }
}
nav .lists .list li:hover{
    margin-left: 5px;
}

nav .lists .list li:last-child{
    border-bottom: none;
}

nav .lists .list li a{
    color: #000;
    padding: 15px;
    display: block;
    text-decoration: none;
}

header .content {
    height: calc(100vh - 72px);
    background-image: url(../images/header.jpg);
    background-size: cover;
    position: relative;
}
header .content .text{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
header .content .text h2{
    color: var(--main-color);
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}
@media(max-width:767px){
    header .content .text h2{
        font-size: 35px;
        margin-bottom: 20px;
    }
}
header .content .text p{
    font-size: 19px;
    color: #000;
    line-height: 1.8;
}
@media(max-width:767px){
    header .content .text p{
        font-size: 14px;
        line-height: 1;
    }
}

header .skills{
    width: 100%;
    padding: 40px;
    background-color: #ddd;
}

header .skills .parent{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    justify-content: space-between;
    gap: 20px;
}
header .skills .parent div{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
header .skills .parent div .icon{
    color: var(--main-color);
    /* font-weight: 800; */
}

header .skills .parent div h2{
    font-size: 20px;
    margin:20px 0;
    font-weight: 800;
    letter-spacing: -1px;
}
header .skills .parent div p{
    color: #777;
    font-size: 17px;
    line-height: 1.8;
}
/* end header  */
/* start services section  */
.services .skills{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}

.services .skills .row .colmn{
    display: flex;
    margin-bottom: 50px;
}
@media(max-width:767px){
    .services .skills .row .colmn{
        flex-direction: column;
        text-align: center;
    }
}
.services .skills .row .colmn .icons{
    margin-right: 25px;
    padding-top: 0;
    color: var(--main-color);
}
@media(max-width:767px){
    .services .skills .row .colmn .icons{
        margin-bottom: 20px;
    }
}
.services .skills .row .colmn .text{
    flex: 1;
}
.services .skills .row .colmn h2{
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 30px;
}
@media(max-width:767px){
    .services .skills .row .colmn h2{
        margin-bottom: 20px;
    }
}
.services .skills .row .colmn p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .skills .row .imgs{
    position: relative;
}
@media(max-width:1200px){
    .services .skills .row .imgs{
        display: none;
    }

}
.services .skills .row .imgs img{
    max-width: 250px;
    margin-left: 65px;
}
.services .skills .row .imgs::before{
    content: "";
    position: absolute;
    width: 105px;
    height: 440px;
    top: -55px;
    right: -45px;
    background-color: #2c4755;
    z-index: -1;
}
/* end services section  */

/* start Portfolio section   */
.portfolio{
    padding-bottom: 50px;
    background-color: #f6f6f6;
}

.portfolio .part{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.portfolio .part .parent{
    background-color: #fff;
}
.portfolio .part .parent img{
    max-width: 100%;
}
.portfolio .part .parent h3{
    font-size: 19px;
    margin: 24px 20px 10px;
    font-weight: bold;
}
.portfolio .part .parent p{
    color: #777;
    margin: 20px;
    line-height: 1.7;
}

/* end Portfolio section   */

/* start about section  */

.about .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.about .row .imgs{
    width: 250px;
    height: 375px;
    position: relative;
    margin-right: 100px;
    margin-bottom: 100px;
}
@media(max-width:992px){
    .about .row .imgs{
        display: none;
    }
}
.about .row .imgs::before{
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    background-color: rgb(235, 236, 237);
    width: 100px;
    height: 124%;
    z-index: -1;}
.about .row .imgs::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 100%;
    top: -50px;
    right: -150px;
    z-index: -1;
    border-left: 105px solid var(--main-color);
    border-bottom: 63px solid var(--main-color);
} 
.about .row  img{
    max-width: 100%;
}
.about .row  .text{
    flex: 1;
    margin-left: 135px;
}
@media(max-width:992px){
    .about .row  .text{
        margin-left: 0;
        padding: 5px 20px;
    }

}
.about .row  .text p{
    margin-top: 50px;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 1.9;
    color: #777;
}
.about .row  .text p:first-child{
    font-weight: bold;
    color: #000;
}
@media(max-width:992px){
    .about .row  .text p:first-child{
        margin: 0;
    }

}
.about .row  .text hr{
    border-top: 1px solid #2c4755;
    border-left: 1px solid #2c4755;
    border-bottom: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    width:50%;
    margin-top: 35px;
}

/* end about section  */

/* start contact secction  */
.contact {
    background-color: #f6f6f6;
    padding: 50px 0;
}
.contact .head {
    padding:0;
    margin-bottom: 20px;
}
@media(max-width:767px){
    .contact .head {
        margin: 0;
        padding: 30px;
    }
}
.contact .info {
    margin:50px auto;
    width: 500px;
    text-align: center;
}
@media(max-width:767px){
.contact .info {
    max-width: 100%;
    }
}


.contact .info p{
    padding: 20px 10px 0;
}
.contact .info p:first-child{
    letter-spacing: -2px;
    font-weight: 800;
    color:#2c4755;
    font-size: 35px;
}
@media(max-width:767px){
    .contact .info p{
        margin: 10px 0 30px;
        padding: 0;
    }
    .contact .info p:first-child{
        font-size: 30px;
    }
}
.contact .info a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 0px;
    font-weight: 800;
}
@media(max-width:767px){
    .contact .info a{
        font-size: 20px;
        padding: 0;
    }
}
/* end contact secction  */

/* start footer  */
footer{
    padding: 30px 10px;
    text-align: center;
    background-color: #2c4755;
    color: #fff;
}
footer p{
    font-size: 20px;
}
footer p span{
    color: var(--main-color);
    font-weight: bold;
}
/* end footer  */
